// COLORS
$white: #ffffff;
$black: #000000;
$text-color: #40494d;
$btn-color: #283337;
$gray: #f3f7f4;
$footer-bg: #101c21;
$accent-color: #61d7ac;

// FONTS
$font-stack: "Arial", sans-serif;
$font-second: "Times New Roman", sans-serif;
